{% extends "base.html" %}

{% block content %}
  <h1>
    Model:{{ car.model }}
  </h1>
  <p><strong>Manufacturer:</strong> {{ car.manufacturer.name }}({{ car.manufacturer.country }})</p>
  <h1>Drivers
    {% if user in car.drivers.all %}
    <a href="{% url "taxi:car-driver-assign" pk=car.id %}" class="btn btn-danger link-to-page">
      Delete me from this car
    </a>
    {% else %}
    <a href="{% url "taxi:car-driver-assign" pk=car.id %}" class="btn btn-success link-to-page">
      Assign me to this car
    </a>
    {% endif %}
  </h1>
  <hr>
  {% for driver in car.drivers.all %}
      <p><strong>Username: </strong>{{ driver.username }}</p>
      <p><strong>Full name: </strong>{{ driver.first_name }} {{ driver.last_name }}</p>
      <p><strong>License number: </strong>{{ driver.license_number }}</p>
      <hr>
  {% endfor %}
  <p>
    <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger">
    Delete
    </a>
    <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-success">
    Update
    </a>
  </p>
{% endblock %}
