body {
    margin-top: 20px;
    background-color: #e3f2fd;
    color: #3d5a80;
}

.link-to-page {
    float: right;
    margin: 0 2px 0 2px;
}

.sidebar {
    background-color: #98c1d9;
    color: #3d5a80;
    box-shadow: 1px 2px 3px 4px #3d5a80;
}

a {
    color: #3d5a80;
    font-weight: bold;
}

a:hover {
    color: #ffe599;
}

.btn {
    background-color: #3d5a80;
    border: none;
    color: #ffe599;
}

h1, h2, h3, h4 {
    color: #ffe599;
    text-shadow: 0 0 5px #3d5a80;
}

.page-item.active .page-link {
   background: #3d5a80;
   border: none;
   color: #ffe599;
}

.page-item a {
    color: #3d5a80;
}

.table {
    color: #3d5a80;
}
